{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Register</h3>
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm, {'attr': {'class': 'form-horizontal', 'id': 'payment-form'}}) }}

                    <div class="form-group">
                        {{ form_label(registrationForm.email, null, {'label': 'Email', 'label_attr': {'class': 'col-form-label'}}) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.password, null, {'label': 'Password', 'label_attr': {'class': 'col-form-label'}}) }}
                        {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(registrationForm.password) }}
                    </div>

                    <!-- Formulaire Stripe pour saisir les détails de la carte -->
                    <div class="form-group">
                        <label for="card-element">
                            Carte de crédit ou de débit
                        </label>
                        <div id="card-element" class="form-control">
                            <!-- Un champ Stripe pour saisir les détails de la carte -->
                        </div>
                        <div id="card-errors" role="alert" class="text-danger mt-2"></div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>

                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_51MFEq4GwodRabcetbbA4qk1CbsmUMSjdbtYgUR5BPvfPsTog9uljV54sKAFHvHFWFKVHcfjiuf1Dl4sB9UpAGuV500eBhBjwXI');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#card-element');
        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });
        var form = document.querySelector('form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    form.appendChild(createHiddenElement('stripeToken', result.token.id));
                    form.submit();
                }
            });
        });
        function createHiddenElement(name, value) {
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', name);
            hiddenInput.setAttribute('value', value);
            return hiddenInput;
        }
    </script>
{% endblock %}